body {
  margin: 30px;

}

.my-container {
  border: 1px solid green;
  justify-content: space-around;
  margin: auto;
}

.my-row {
  border: 3 px solid red;
}

.my-col {
  border: 10 px solid blue;
  padding: -2px;
}

.text-muted {
  width: 50px;

}

#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
    
  }
  
  #modal-textbox {
    background-color: white;
    height: 450px;
    width: 550px;
    border-radius: 2px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
    line-height: 120%;
    font-family: Arial;
  }
  
  #modal-footer {
    text-align: right;
  }


  h1 {
    padding-bottom: 15px;
  }

  #show {
    font-size: 15px;
    font-weight: bold;
  }
  
  #showResults {
    font-size: 15px;
  }

  #totalCost {
    font-size: 15px;
  }

  #tooltip {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
  }

  #arrow,
  #arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

  #arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #333;

}

#openModal {
  margin-left: 80px;
}

#calculateRevenue {
  margin-left: 15px;
}

#numberOfLemons {
  margin-left: 35px;

}